[Desktop Entry]
Version=1.0
Name=X-Publish
Comment=X-Plane package publisher
Exec=xpublish
Icon=xpublish
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;
